<div class="shadow bg-main-light w-75  mx-auto p-3 m-3">
    <h1>Register Now :</h1>

<div *ngIf="apiError" class="alert alert-danger p-1 small text-center">
 <p>{{apiError}}</p>
</div>

    <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="handleRegister(registerForm)">

        <div class="form-item">
            <label for="name"> Name :</label>
            <input formControlName="name" type="text" class="form-control mb-2 mt-2" id="name">
        </div>
        <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert small  alert-danger">
            <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0"> Name is Required </p>
            <p *ngIf="registerForm.get('name')?.getError('minLength')" class="m-0"> minlengh is 3 </p>
            <p *ngIf="registerForm.get('name')?.getError('maxLength')" class="m-0"> maxlengh is 10 </p>
        </div> 

        <div class="form-item">
            <label for="email"> Email :</label>
            <input formControlName="email" type="email" class="form-control mb-2 mt-2" id="email">
        </div>
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert small  alert-danger">
            <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0"> email is Required </p>
            <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0"> email is  inValid</p>
        </div> 
        <div class="form-item">
            <label for="password"> Password :</label>
            <input formControlName="password" type="password" class="form-control mb-2 mt-2" id="password">
        </div>
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert small  alert-danger">
            <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0"> password is Required </p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0"> password is  inValid</p>
        </div> 
        <div class="form-item">
            <label for="rePassword"> RePassword :</label>
            <input formControlName="rePassword" type="Password" class="form-control mb-2 mt-2" id="rePassword">
        </div>
        <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert small  alert-danger">
            <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="m-0"> rePassword is Required </p>
            <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="m-0"> rePassword is  inValid</p>
            <p *ngIf="registerForm.get('rePassword')?.getError('mismatch')" class="m-0"> rePassword no match password</p>

        </div>
        <div class="form-item">
            <label for="phone"> Phone :</label>
            <input formControlName="phone" type="tel" class="form-control mb-2 mt-2" id="phone">
        </div>
        <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert  alert-danger">
            <p *ngIf="registerForm.get('phone')?.getError('required')" class="m-0"> phone is Required </p>
            <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="m-0"> phone is  must be egyptian number</p>
        </div>

        <button [disabled]="registerForm.invalid" class="btn bg-main ms-auto d-block mt-3 " > 
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Register</span>
        </button>
    </form>

</div>