<section *ngIf="productDetails" class="w-75 shadow rounded mx-auto p-4 my-5" >
    <div class="row  g-4 align-items-center justify-content-center">
        <div class="col-md-3">
            <owl-carousel-o [options]="productDetailsOption">

                <ng-container *ngFor="let product of productDetails.images">
                  <ng-template carouselSlide >
                    <img class="w-100" [src]="product" >
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-9">
            <div>
                <h2 class="h6 text-main">{{productDetails.title}}</h2>
                <p class="text-muted small">{{productDetails.description}}</p>
                <span >{{productDetails.category.name}}</span>  
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <span class="text-main">{{productDetails.price |currency:"egp"}}</span>
                <p class="mb-0"><i class="fas fa-star rating-color"></i> {{productDetails.ratingsAverage}} </p>
            </div>
            <button (click)="addToCart(productDetails._id,addBtn)" #addBtn class="btn bg-main w-100 mt-3">+ Add To Cart</button>
        </div>
    </div>

</section>