<section class="w-75 mx-auto shadow rounded my-4 p-3 bg-light">

    <h2>CheckOut Session</h2>

    <form  [formGroup]="orderForm" (ngSubmit)="handleOrder()">
        <div class="form-item">
            <label for="details">details :</label>
            <input type="text" formControlName="details" class="form-control"  id="details">
        </div>
        <div class="form-item">
            <label for="phone">phone :</label>
            <input type="tel" formControlName="phone" class="form-control"  id="phone">
        </div>
        <div class="form-item">
            <label for="city">city :</label>
            <input type="text" formControlName="city" class="form-control"  id="city">
        </div>

        <button [disabled]="orderForm.invalid" class="btn bg-main mt-3 ms-auto d-block">CheckOut</button>
    </form> 

</section>